*{
    margin: 0;
    padding: 0;
}

/****General Use***/

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.np-left{
    padding-left: 0;
}

.np-right{
    padding-right: 0;
}

button:focus{
    outline: 0 !important;
}

a:hover{
    text-decoration: none !important;
}

.bg-blue{
    background-color: #2b3d52 !important;
}


/****Nav-Bar***/

.nav-link{
    padding-right: 1rem;
    padding-left: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;    
}

.navbar-brand{
    font-size: 1.8rem;
    text-transform: uppercase;
    user-select: none;
}

/****Hero***/

#hero{
    background: linear-gradient(to top, rgba(41,128,185, 0.8), rgba(109,213,250, 0.8)),
    url("../images/post-1.jpg") repeat scroll center center / cover;
    height: 75vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h-logo{
    color: #fafafa;
    text-shadow: 4px 4px 4px #000;
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
}

.slogan{
    font-size: 2rem;
    letter-spacing: .5px;
    font-weight: 500;

}

.quote{
    font-size: 1.5rem;
    letter-spacing: .25px;
    font-weight: 500;
}

.btn-danger{
    font-size: 1.5rem;
    color: #fafafa;
    background: #ED213A !important;
    transition: all 0.2 ease-in-out;
    font-weight: 600;
    border-radius: 50rem;
    text-transform: uppercase;
}

.text-center{
    text-align: center !important;
}

/***About****/
.services{
    background-color: #f5f9fd;
}

.card-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.sect-title{
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 1.5;
    margin-top: 15px;
    text-transform: uppercase;
}

.services-card{
    background: #fafafa;
    border-radius: 5px;
    padding: 25px 20px;
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 8px 12px 0 rgba(164, 164, 164, 0.2);
}

.services-card:hover, .services-card:focus, .services-card:active{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    box-shadow: 0 5px 25px 0 rgba(164, 164, 164, 0.2);
}

.card-img{
    width: 100%;
    height: 50%;
}

.services-card:hover .card-img{
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
}

.card-title{
    margin: 1em;
}

.services-card img{
    background: #f5f9fd;
    border-radius: 0%;
    height: 130px;
    width: auto;
    display: block;
    margin: 0 auto;
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transition-property: transform;
}

/***Testimonials****/


.img-l{
    align-items: left;
    width: 20% !important;
    height: 50% !important;
}

.img-r{
    align-items: right;
    width: 20% !important;
    height: 50% !important;
}

.comment{
    font-size: 1rem;
    line-height: 2.0;
    text-align: left;
    left: 120px;
    top: 210px;
    width: 30% !important;
}

.testimonials{
    padding-top: 3.5rem;
}

/***Footer****/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.facebook-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.facebook-icon:hover i{
    color: #3b5998;
    transition: all 0.5s ease-in-out;
}


.instagram-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.instagram-icon:hover i{
    color: #d62976;
    transition: all 0.5s ease-in-out;
}

.youtube-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.youtube-icon:hover i{
    color: #e52d27;
    transition: all 0.5s ease-in-out;
}

.social-links{
    font-size: 2rem;
}

p.copyright{
    color: #fafafa;
    margin-top: auto !important;
    font-size: 1rem !important;
    
}

footer span{
    width: 30%;
}


/***About-Page****/
video{
    height: auto;
    width: 60%;

}

.intro-txt{
    text-align: center;
}

@media  (max-width: 784px) {

    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*hero*/
    .h-logo{
        color: #fafafa;
        text-shadow: 4px 4px 4px #000;
        font-weight: 700;
        font-size: 5.5rem;
        text-transform: uppercase;
    }
    
    .slogan{
        font-size: 1.75rem;
        letter-spacing: .5px;
        font-weight: 500;
    
    }
    
    .quote{
        font-size: 1.25rem;
        font-weight: 500;
        padding: 10px;
    }

    /*Services*/
    .services{
        background: #f5f9fd;
        padding: 30px 0;
    }

    /**button*/
    .hero-btn{
        width: 150px !important;
        height: 50px !important;
        font-size: 1.25rem !important;
        font-weight: 300 !important;    
    }

    .btn-danger{
        font-size: 1rem !important;
        color: #fafafa;
        transition: all 0.2s ease-in-out !important;
        border-radius: 50rem !important;
    }
    .sm-margin{
        gap: 10%;
    }


    .img-l{
        align-items: left;
        width: 50% !important;
        height: 50% !important;
    }

    .img-r{
        align-items: right;
        width: 50% !important;
        height: 50% !important;
    }

    .comment{
        width: 50% !important;
    }

    /*footer*/
    footer{
        display: flex;
        flex-direction: column !important;
        text-align: center !important;
        justify-content: center !important;

    }
    .social-icons{
        display: flex !important;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row !important;
    }

    p.copyright{
        margin-top: auto !important;
        font-size: 1rem;
        text-align: center;

    }
}