*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/****General Use***/

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.np-left{
    padding-left: 0;
}

.np-right{
    padding-right: 0;
}

button:focus{
    outline: 0 !important;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.bg-blue{
    background-color: #2b3d52 !important;
}

/*Fonts*/
.roboto{
    font-family: 'Roboto', sans-serif;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

/*Headings*/
h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}
/*Paragraph*/
p{
    font-family: 'Roboto', sans-serif;
}

/****Nav-Bar***/

.nav-link{
    padding-right: 1rem;
    padding-left: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;    
}

.navbar-brand{
    font-size: 1.8rem;
    text-transform: uppercase;
    user-select: none;
    color: #fafafa !important;
}

.navbar-brand a{
    text-decoration: none;
}

/****Hero***/

#hero{
    background: linear-gradient(to top, rgba(41,128,185, 0.8), rgba(109,213,250, 0.8)),
    url("../images/post-1.jpg") repeat scroll center center / cover;
    min-height: 75vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero button{
    width: 25%;
}

.h-logo{
    color: #fafafa;
    text-shadow: 4px 4px 4px #000;
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
}

.slogan{
    font-size: 2rem;
    letter-spacing: .5px;
    font-weight: 500;

}

.quote{
    font-size: 1.5rem;
    letter-spacing: .25px;
    font-weight: 500;
}

.btn a{
    text-decoration: none !important;
    color: #fafafa !important;
}
.btn-danger{
    font-size: 1.5rem;
    font-family:  'Oswald', sans-serif;
    color: #fafafa;
    background: #ED213A !important;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    border-radius: 50rem;
    text-transform: uppercase;
}

.btn-info{
    font-size: 1.5rem;
    font-family:  'Oswald', sans-serif;
    color: #fafafa;
    background: #3b5998 !important;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    border-radius: 50rem;
    text-transform: uppercase;
}
.btn-success{
    font-size: 1.5rem;
    font-family:  'Oswald', sans-serif;
    color: #fafafa;
    background:#0f9b0f !important;
    transition: all 0.2s ease-in-out;
    border: none;
    font-weight: 600;
    border-radius: 50rem;
    text-transform: uppercase;
}

button a{
    color: #fafafa;
    text-decoration: none;
}

.btn-info:hover{
    color: #fafafa;
}

.text-center{
    text-align: center !important;
}

/***About****/
.services{
    background-color: #f5f9fd;
}

.card-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.sect-title{
    margin-bottom: 2rem;
    font-size: 4rem;
    margin-top: 15px;
    text-transform: uppercase;
}

.services-card{
    background: #fafafa;
    border-radius: 5px;
    padding: 25px 20px;
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 8px 12px 0 rgba(164, 164, 164, 0.2);
}

.services-card:hover, .services-card:focus, .services-card:active{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    box-shadow: 0 5px 25px 0 rgba(164, 164, 164, 0.2);
}

.card-img{
    width: 100%;
    height: 50%;
}

.services-card:hover .card-img{
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
}

.card-title{
    margin: 1em;
}

.services-card img{
    background: #f5f9fd;
    border-radius: 0%;
    height: 130px;
    width: auto;
    display: block;
    margin: 0 auto;
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transition-property: transform;
}

/***Testimonials****/

.testimonials{
    width: 100%;
    padding-top: 1rem;
    background: #cdcdcd;
}

.wrapper{
    background: #fafafa;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
}

.wrapper::after{
    content: "";
    clear: both;
    display: table;
}

.wrapper img{
    width: 170px;
    height: 170px;
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
}

.wrapper span{
    font-size: 1rem;
    margin-right: 1rem;
}

/***Footer****/  

footer{
    width: 100%;
}

  .footer-logo{
     font-size: 2.5rem;
     color: #fafafa;
     font-weight: bold;
     text-transform: uppercase;
  }

  .footer-logo a{
      text-decoration: none;
      color: #fafafa;
  }



 .icon{
     font-size: 2rem;
     color: #fafafa;
 }

.facebook-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.facebook-icon:hover i{
    color: #3b5998;
    transition: all 0.5s ease-in-out;
}


.instagram-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.instagram-icon:hover i{
    color: #d62976;
    transition: all 0.5s ease-in-out;
}

.youtube-icon:hover{
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.youtube-icon:hover i{
    color: #e52d27;
    transition: all 0.5s ease-in-out;
}


p.copyright{
    color: #fafafa;
    margin-top: auto !important;
    font-size: 1rem !important;
    
}



/***About-Page****/
video{
    height: auto;
    width: 60%;

}

.intro-txt{
    text-align: center;
}

.services hr{
    width: 33%;
    margin-left: 33%;
    height: 3px;
    border-radius: 5px;
}

.personal{
    background: #ED213A ;
}

.classes{
    background: #6DD5FA !important;
}

.meal{
    background: #0f9b0f !important;
}

.services img{
    border-radius: 5px;
    margin-bottom: 1rem;
}

.service-info{
    padding-top: 17px;    
}

.service-title{
    font-size: 2rem;
    padding-bottom: 7.5px;
    text-transform: uppercase;
}


/***Contact****/

.contact{
    width: 100%;
    min-height: 100vh; 
    background: linear-gradient(to top, rgba(41,128,185, 0.8), rgba(109,213,250, 0.8)),
    url("../images/post-2.jpg") repeat scroll center center / cover; 
}

form{
    text-align: center;
}

form h2{
    padding-top: 15%;
    margin-top: 0 !important;
}

form button{
    width: 35% !important;
}

.textinput{
    margin-bottom: .5rem;
    width: 40%;
    border-radius: 10px;
    opacity: .75;
}

/*Media Queries*/
@media (max-width: 990px){
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*Contact form*/
    .textinput{
        width: 60%;
    }

    body{
        overflow-x: hidden;
    }
}

@media (max-width: 300px){
    #hero-button{
        width: 50%;
    }
      .navbar-nav{
        display: flex;
        flex-direction: column !important;
        justify-content: end;
    }
    
    .h-logo{
        color: #fafafa;
        text-shadow: 4px 4px 4px #000;
        font-weight: 700;
        font-size: 5rem !important;
        text-transform: uppercase;
    }
    
    .slogan{
        font-size: 1.5rem !important;
        letter-spacing: .5px;
        font-weight: 500;
    
    }
    
    .quote{
        font-size: 1rem !important;
        letter-spacing: .25px;
        font-weight: 500;
    }

    .sect-title{
        margin-bottom: 2rem;
        font-size: 3rem !important;
        margin-top: 15px;
        text-transform: uppercase;
    }
}

    /*Testimonials*/
@media (max-width: 500px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wrapper img{
        margin-bottom: .75rem;
    }
    
}    
@media  (max-width: 784px) {

    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*hero*/
    .h-logo{
        color: #fafafa;
        text-shadow: 4px 4px 4px #000;
        font-weight: 700;
        font-size: 5.5rem;
        text-transform: uppercase;
    }

    #hero button{
        width: 50% !important;
    }
    
    .slogan{
        font-size: 1.75rem;
        letter-spacing: .5px;
        font-weight: 500;
    
    }
    
    .quote{
        font-size: 1.25rem;
        font-weight: 500;
        padding: 10px;
    }

    /*Services*/
    .services{
        background: #f5f9fd;
        padding: 30px 0;
    }

    /**button*/

    .btn-danger{
        font-size: 1.5rem !important;
        color: #fafafa;
        transition: all 0.2s ease-in-out !important;
        border-radius: 50rem !important;
    }
    .sm-margin{
        gap: 10%;
    }


    video{
        width: 95%;
        height: auto;
    }

    /*contact Form*/
    .textinput{
        width: 80%;
    }

    form h2{
        font-size: 2.5rem !important;
    }

    form button{
        width: 75% !important;
    }
}